---
import Footer from "@/components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Fylo landing page with dark theme and features grid">
  <main></main>
  <!-- Footer -->
  <Footer />
</Layout>

<style></style>
