---
import "@/styles/globals.css";
---

<footer class="bg-[#0B1524] p-64 px-[1.75rem] pb-[3.25rem] xl:pt-[10.56rem] xl:pl-[7.5rem] xl:pr-[5.15rem] xl:pb-[3.31rem] text-[#fff] flex flex-col gap-[2.19rem] xl:gap-[3.25rem] ">
    <!-- Logo -->
    <div class="">
        <img src="/public/images/logo.svg" alt="logo" class="w-[6.75rem] ">
    </div>
    <!-- Detailes -->
    <div class="flex flex-col gap-14 xl:flex-row xl:items-start">
        <!-- Address, Phone & Email -->
        <div class="flex flex-col gap-4 xl:flex-row xl:gap-20">
            <!-- Address -->
            <div class="flex items-baseline gap-4">
                <img src="/public/images/icon-location.svg" alt="con-location" class="">
                <p class="text-base font-normal leading-6 font-OpenSans w-[17.4375rem] xl:w-[21.1875rem]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                </p>
            </div>
<!-- Phone & Email -->
            <div class="flex flex-col gap-[1.19rem]">
                <!-- Phone -->
                <div class="flex items-baseline gap-4">
                    <img src="/public/images/icon-phone.svg" alt="con-phone" class="">
                    <p class="text-sm font-normal leading-[1.3125rem]">+1-543-123-4567</p>
                </div>
                <div class="flex items-baseline gap-4">
                    <img src="/public/images/icon-email.svg" alt="con-phone" class="">
                    <p class="text-sm font-normal leading-[1.3125rem]">example@fylo.com</p>
                </div>
            </div>
        </div>
        <!-- Navigation Links -->
        <nav class="grid grid-cols-1 xl:grid-cols-2 gap-[3.03rem] xl:gap-x-20 xl:ml-[5.62rem]">
            <ul class="flex flex-col gap-4">
                <li><a href="" class="font-normal text-base font-OpenSans leading-normal">About Us</a></li>
                <li><a href="" class="font-normal text-base font-OpenSans leading-normal">Jobs</a></li>
                <li><a href="" class="font-normal text-base font-OpenSans leading-normal">Press</a></li>
                <li><a href="" class="font-normal text-base font-OpenSans leading-normal">Blog</a></li>
            </ul>
            <ul class="flex flex-col gap-4">
                <li><a href="" class="font-normal text-base font-OpenSans leading-normal">Contact Us</a></li>
                <li><a href="" class="font-normal text-base font-OpenSans leading-normal">Terms</a></li>
                <li><a href="" class="font-normal text-base font-OpenSans leading-normal">Privacy</a></li>
            </ul>
        </nav>
        <!-- Social Media Icons -->
        <div class="flex items-center justify-center gap-4">
            <a href="" class="size-[1.69131rem] rounded-full border border-[#DFE4F0] border-solid flex items-center justify-center">
                <i class="fa-brands fa-facebook-f" style="color: #fff;"></i>
            </a>
            <a href="" class="size-[1.69131rem] rounded-full border border-[#DFE4F0] border-solid flex items-center justify-center">
                <i class="fa-brands fa-twitter" style="color: #fff;"></i>
            </a>
            <a href="" class="size-[1.69131rem] rounded-full border border-[#DFE4F0] border-solid flex items-center justify-center">
                <i class="fa-brands fa-instagram" style="color: #fff;"></i>
            </a>
        </div>
    </div>
</footer>